.build
.mbed
projectfiles
# *.py*
# mbed-os
BUILD
build/
# dist/
__pycache__/
*.specbuild/
__pycache__/
*.spec
BUILD/NUCLEO_G474RE/ARMC6/.profile-ld
BUILD/NUCLEO_G474RE/ARMC6/.profile-ld
BUILD/NUCLEO_G474RE/ARMC6/main.o
BUILD/NUCLEO_G474RE/ARMC6/BQ79616Handler/Src/BQ79616_handler.d
BUILD/NUCLEO_G474RE/ARMC6/EepromHandler/Src/eeprom_handler.o
BUILD/NUCLEO_G474RE/ARMC6/EffectHandler/Src/effect_handler.o
BUILD/NUCLEO_G474RE/ARMC6/Measurement/Src/measurement.o
BUILD/NUCLEO_G474RE/ARMC6/Operation/Src/operation.o
BUILD/NUCLEO_G474RE/ARMC6/PowerStateHandler/Src/power_state_handler.o
error.txt
Deep Dive Balancing Fault Pin Asser.txt
BUILD/NUCLEO_G474RE/ARMC6/.profile-ld
BUILD/NUCLEO_G474RE/ARMC6/main.o
BUILD/NUCLEO_G474RE/ARMC6/BQ79616Handler/Src/BQ79616_handler.d
BUILD/NUCLEO_G474RE/ARMC6/Logging/Src/logging.o
BUILD/NUCLEO_G474RE/ARMC6/Measurement/Src/measurement.o
BUILD/NUCLEO_G474RE/ARMC6/Operation/Src/operation.o
